@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&family=Poly&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@200;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

   
